.dialog-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.dialog-full-width {
    width: 100%;
}
.actions {
    margin: 10px;
    align-content: flex-end;
}
.action-button {
    margin: 5px;
}